html {
    padding: 20px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    background-image: url(images/sos.png);
}
header {
    padding: 15px;
}
.columnleft,
.columncentre,
.columnright {
    font-size: 20pt;
    padding-bottom: 5px;
}
.columnleft {
    float: left;
    width: 33%;
    text-align: left;
}
.columncentre {
    float: left;
    width: 33%;
}
.columnright {
    float: right;
    width: 33%;
    text-align: right;
}
.video {
    padding-top: 60px;
    padding-bottom: 60px;
    color: rgb(90, 90, 90);
}
#back {
    border-style: solid;
    border-color: #cccccc;
    top: 50%;
    margin-top: -300px;
    background-color: rgb(240, 240, 240);
    color: rgb(180, 180, 180);
    height: 600px;
    width: 100px;
    text-align: center;
    line-height: 550px;
    position: fixed;
    font-weight: bolder;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0px 0px 40px 10px #eee;
}
#back:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(255, 255, 255);
}
#contentwrapper {
    width: 852px;
    margin: 0 auto;
    text-align: center;
}
#f1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt; 
	text-align: center;
}
